/* Navlink och Navbar styling */
.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #000;
}

.navbar {
    background-color: #ffffff;
    color: #000;
    padding: 5px 5px;
    height: 70px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 2px 10px rgba(196, 130, 5, 0.5);
}

.nav-link {
    color: #000;
    transition: color 0.3s;
}

.nav-item .nav-link:hover {
    color: #c48205ce; /* Guldig hover-färg */
}

/* Design för primär-knapp */
.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #000;
    background-color: #ffffff;
    border-color: #c48205ce;
}

.border-top {
    border-top: 1px solid #c48205ce;
}

.border-bottom {
    border-bottom: 1px solid #c48205ce;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.btn-link.text-dark {
    color: #000;
}

    .btn-link.text-dark:hover {
        color: #c48205ce;
    }

    .btn-link.text-dark:focus, .btn-link.text-dark:active {
        box-shadow: 0 0 0 0.1rem rgba(196, 130, 5, 0.25);
    }

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 2px 10px rgba(196, 130, 5, 0.5);
}

/* Mediaförfrågan för mindre skärmar */
@media screen and (max-width: 1040px) {
    .navbar-nav {
        display: none;
    }

    .navbar-dropdown {
        display: block;
    }

        .navbar-dropdown .dropdown-menu {
            display: none;
        }

            .navbar-dropdown .dropdown-menu.show {
                display: block;
            }
}
