@{
    ViewData["Title"] = "Kontakta oss";
}

<h2>Kontakta oss</h2>

<div class="contact-container mt-5">
    <div class="row">
        <div class="col-md-6 contact-info">
            <h5>Kontaktinformation</h5>
            <p><b>Email:</b> info@scriptsquadwebbshop.com</p>
            <p><b>Telefon:</b> +46 123 456 789</p>
            <p><b>Adress:</b> Exempelvägen 123, 123 45 Exempelstad</p>
        </div>
        <div class="col-md-6 map-section">
            <h5>Hitta oss</h5>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.8354345093744!2d144.9537353153169!3d-37.81627974202147!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642af0f11fd81%3A0xf0727e2c1454e909!2sVictoria%2C%20Australia!5e0!3m2!1sen!2sau!4v1642021711531!5m2!1sen!2sau" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</div>

<div class="news-container mt-5">
    <h2 class="text-center">Prenumerera på vårt nyhetsbrev</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form>
                <div class="form-group">
                    <label for="email">Emailadress:</label>
                    <input type="email" class="form-control" id="email" placeholder="Ange din emailadress" style="margin-bottom: 10px;">
                </div>
                <button type="submit" class="btn btn-primary btn-block custom-btn">Prenumerera</button>
            </form>
        </div>
    </div>
</div>
