@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Välkommen till ScriptSquads Webbshop!</h1>
</div>

<div class="news-container mt-5">
    <h2 class="text-center">Prenumerera på vårt nyhetsbrev</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form>
                <div class="form-group">
                    <label for="email">Emailadress:</label>
                    <input type="email" class="form-control" id="email" placeholder="Ange din emailadress" style="margin-bottom: 10px;">
                </div>
                <button type="submit" class="btn btn-primary btn-block custom-btn">Prenumerera</button>
            </form>
        </div>
    </div>
</div>